In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [79]:
df = pd.read_csv(r'C:\Users\baolu\Desktop\result.csv')

In [80]:
df["FirstServiceDate"]= pd.to_datetime(df["FirstServiceDate"])
df["SecondServiceDate"]= pd.to_datetime(df["SecondServiceDate"])
df["LastServiceDate"]= pd.to_datetime(df["LastServiceDate"])

In [81]:
df['Cluster'] = df['LastServiceDate'] - df['FirstServiceDate']
df['Cluster'] = df['Cluster'].dt.days.apply(lambda x: 'Less30d' if x <=30 else 'More30d')

In [83]:
less30 = df[df['Cluster']=='Less30d']
less30

,User_id,FirstServiceid,SecondServiceid,FirstServiceDate,SecondServiceDate,LastServiceid,LastServiceDate,TotalService,Cluster
5,40727154,487,742,2018-01-04,2018-01-04,487,2018-01-06,3,Less30d
8,40709217,20,20,2018-01-02,2018-01-02,20,2018-01-02,1,Less30d
11,40716114,1136,1136,2018-01-02,2018-01-02,1014,2018-01-02,2,Less30d
20,40741577,47,299,2018-06-25,2018-06-25,268,2018-07-18,5,Less30d
24,40726229,19,487,2018-01-05,2018-01-05,1014,2018-01-08,4,Less30d
29,40743475,981,20,2018-01-06,2018-01-06,1014,2018-01-06,3,Less30d
34,40725355,299,1014,2018-06-08,2018-06-09,270,2018-06-25,5,Less30d
37,40729435,65,946,2018-01-04,2018-01-04,65,2018-01-25,3,Less30d
38,31485023,1014,487,2018-01-03,2018-01-03,398,2018-01-10,4,Less30d
42,18246539,984,269,2018-03-22,2018-03-22,326,2018-04-01,4,Less30d